body {
    font-family: 'Quattrocento', serif;
    font-size: 25px;
}

.icon {
    color: #004eff;
    margin-left: 10px;
}

.wrapper {
    position: absolute;
    top: 15%;
    left: 40%;
    margin-top: -50px;
    margin-left: -50px;
    max-width: 600px;
    background-color: #eeeeee;
    border-radius: 10px;
}

header h3 {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}

.header {
    background-color: #2ECC71;
    margin-bottom: 0;
}

.listing {
    text-align: center;
    color: white;
    background-color: #16A085;
    margin-bottom: 0;
}

input {
    width: 390px;
}

button {
    margin-top: 3%;
    margin-left: 45%;
}

.error {
    color: red;
}